@media only screen and (max-width: 768px) {
    header, h1{
        padding-bottom: 0px;
    }
.feet_field{
    padding: 10px 0px;
    margin-top: 5px;
    margin-left: 5px;
   
}
#inch_field{
    padding: 10px 0px; 
    margin-top: 5px; 
}
#kg_field{
    padding: 10px 0px;
}

#advice_field{            
    font-size: small;   
}


}